[Inhaltsverzeichnis](table_of_contents.ipynb)

In [1]:
%matplotlib
%pylab inline
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import os
import pandas as pd
import functions.sda_help as sh
import functions.PrettyTable as pt

Using matplotlib backend: Qt5Agg
Populating the interactive namespace from numpy and matplotlib

### Kenngrößen von Dataframes
Dataframe: zweidimensionale, heterogene Datenstruktur mit markierten Achsen (Zeilen und Spalten). Dataframes können auf unterschiedliche Art erzeugt werden. Wir betrachten zunächst vorhandene Dataframes.

### Arbeit mit Dataframes
In dieser Übung werden Dataframes untersucht und visualisiert.

#### Einlesen von Dataframes

#### <font color="#FF0000">Eingabezelle</font>

In [2]:
df_name = 'df0.txt'

In [3]:
df = pd.read_pickle('data/' + df_name)

#### Anzeigemöglichkeiten

In [4]:
# letzte 5 Elemente
df.tail()

           x1         x2 Klasse
35  57.734301  17.123240   drei
36  50.486644  17.645650   drei
37  52.170434  19.292047   drei
38  51.035617  16.735876   drei
39  50.775620  13.577172   drei

In [5]:
# Zeilenbezeichnungen
df.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13,
            14, 15, 16, 17, 18, 19,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10,
            11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
            28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
           dtype='int64')

In [6]:
#Spaltennamen
df.columns

Index(['x1', 'x2', 'Klasse'], dtype='object')

In [7]:
#Datenwerte
df.values

array([[100.80607170182239, 95.83166044146934, 'eins'],
       [94.85974820254772, 116.55470215929091, 'eins'],
       [101.06263186973456, 89.54960069656164, 'eins'],
       [100.1185288654111, 90.47962315096079, 'eins'],
       [99.70888367588799, 103.38470250186609, 'eins'],
       [103.23206621368735, 96.96370528712879, 'eins'],
       [99.6528490806995, 106.87852360352326, 'eins'],
       [101.13772948169027, 117.2466426875879, 'eins'],
       [91.35531138383718, 98.74853171284661, 'eins'],
       [102.09230596227906, 102.45855884551808, 'eins'],
       [106.68885257394767, 99.31749581906881, 'eins'],
       [98.730714208827, 111.2210021649215, 'eins'],
       [100.64884951158182, 96.87679770866457, 'eins'],
       [96.47758985493459, 104.77388098599785, 'eins'],
       [98.93631629038074, 110.91647577165459, 'eins'],
       [95.05669547763947, 121.72340403499487, 'eins'],
       [101.81212344395237, 100.4806023841785, 'eins'],
       [95.24119382751785, 120.91221966137941, 'eins'],
       [100.81979164539479, 120.29417244126044, 'eins'],
       [110.87416081998492, 76.23381504126787, 'eins'],
       [10.27179390589567, 19.553533399976654, 'zwei'],
       [9.535700901938974, 21.464708908352147, 'zwei'],
       [9.31796501496894, 21.546511860184996, 'zwei'],
       [9.145979708473352, 22.849349801074023, 'zwei'],
       [9.719000054739244, 19.01216539001996, 'zwei'],
       [9.946212145933893, 19.23769873334625, 'zwei'],
       [10.285256554173605, 20.49439732828615, 'zwei'],
       [8.798331854961317, 19.57753660500422, 'zwei'],
       [11.282864813974905, 21.30408032706065, 'zwei'],
       [10.525883956327577, 20.34111667977664, 'zwei'],
       [8.34613611101516, 18.896564330562153, 'zwei'],
       [8.581361730895303, 21.95322983098794, 'zwei'],
       [9.69336192799342, 20.334088068549296, 'zwei'],
       [10.918170881937874, 20.095794542904265, 'zwei'],
       [10.994163756817688, 17.999466054070766, 'zwei'],
       [9.70530362122577, 18.889984206879824, 'zwei'],
       [10.386931177439598, 19.30166055118175, 'zwei'],
       [7.041071676782572, 19.993931963115394, 'zwei'],
       [9.25906218441044, 17.61880328923331, 'zwei'],
       [11.715333212892528, 20.59995547113028, 'zwei'],
       [53.542130265423985, 12.256487779641738, 'drei'],
       [51.51721798370882, 18.819677956980428, 'drei'],
       [50.45386209298921, 11.021176905819505, 'drei'],
       [57.56222571450822, 17.926694961407783, 'drei'],
       [57.19633844535913, 18.438296799008555, 'drei'],
       [50.456769852966914, 11.987857269810316, 'drei'],
       [52.495184382283576, 19.69589106493832, 'drei'],
       [58.25170140878429, 18.509634597098273, 'drei'],
       [51.284016359336995, 15.151080720247368, 'drei'],
       [56.66013936693838, 13.013975390007598, 'drei'],
       [53.15378272352465, 11.525498251709239, 'drei'],
       [51.037893064143624, 12.259891124555876, 'drei'],
       [57.55703351906515, 12.2530680274626, 'drei'],
       [51.69989327383152, 17.574108101825942, 'drei'],
       [54.203586898972205, 14.76735308695787, 'drei'],
       [55.52566248471599, 19.0972680588396, 'drei'],
       [59.79318083541926, 13.038678047136685, 'drei'],
       [54.86614620125874, 16.540390963340194, 'drei'],
       [52.11480822123255, 13.960231025820262, 'drei'],
       [57.26604594616911, 17.96013813598203, 'drei'],
       [51.283124387968876, 17.45164196884869, 'drei'],
       [55.3103990970011, 13.751499079332932, 'drei'],
       [58.708806095175504, 16.35633794908923, 'drei'],
       [55.572213662814, 19.687235101496757, 'drei'],
       [56.460920781197764, 13.86746639876851, 'drei'],
       [59.198230488124274, 13.923823786021478, 'drei'],
       [54.66377490238124, 11.963524805475345, 'drei'],
       [50.22409222197649, 15.033170148354756, 'drei'],
       [56.26921272363108, 16.637593742941615, 'drei'],
       [51.541164686414525, 17.37966104806129, 'drei'],
       [52.340870658748344, 17.98648116735894, 'drei'],
       [58.91151290448979, 11.052823248904808, 'drei'],
       [55.48098783720268, 16.146205236264816, 'drei'],
       [52.99609324109084, 11.355537810089016, 'drei'],
       [51.6190102853353, 19.156460728103916, 'drei'],
       [57.73430058949499, 17.12324014108745, 'drei'],
       [50.48664382076305, 17.645650266408325, 'drei'],
       [52.17043403870805, 19.292046685060612, 'drei'],
       [51.03561746311426, 16.735875807156095, 'drei'],
       [50.775619664536244, 13.577172034807994, 'drei']], dtype=object)

In [ ]:
# Angabe statistischer Kenngrößen
df.describe()

In [ ]:
# Auswahl von Spalten
df['x1']

In [8]:
# Auswahl von Zeilen
df[0:3]

           x1          x2 Klasse
0  100.806072   95.831660   eins
1   94.859748  116.554702   eins
2  101.062632   89.549601   eins

In [ ]:
# Zugriff über Zeilenname
df.loc[19]

In [ ]:
# Zugriff über Position
df.iloc[3:5, 0:1]

In [ ]:
# boolescher Zugriff
df[df.Klasse == 'eins']

#### Operationen
Mittelwert pro Spalte

In [ ]:
df.mean()

Mittelwert pro Zeile

In [ ]:
df.mean(1)

### Verwendung von Sprachdaten
Es wird ein Dataframe verwendet, in dem von 31 Sprechern die Frequenzen des 1. und 2. Formanten der Vokale a, e, i, o und u enthalten sind.

In [ ]:
speech_df = pd.read_csv('data/sprecher.csv', sep=';')

In [ ]:
speech_df.describe()

In [ ]:
data = speech_df.values

In [ ]:
a_f1 = data[:,1]
a_f2 = data[:,2]
plt.figure(figsize=(7,7))
plt.scatter(data[:,1], data[:,2], color='red', marker='+', label='Klasse a')
plt.scatter(data[:,3], data[:,4], color='blue', marker='+', label='Klasse e')
plt.scatter(data[:,5], data[:,6], color='green', marker='+', label='Klasse i')
plt.scatter(data[:,7], data[:,8], color='grey', marker='+', label='Klasse o')
plt.scatter(data[:,9], data[:,10], color='yellow', marker='+', label='Klasse u')
plt.grid()
plt.xlabel('1. Formant in Hz')
plt.ylabel('2. Formant in Hz')
plt.legend()
plt.show()

In [ ]:
print('Datenmatrix:\n',data)
mean_vec = np.mean(data, axis=0)
print('Mittelwertvektor:\n',mean_vec.T)

In [ ]:
print('Varianzvektor:')
print(np.cov(sp[:,0], ddof=0), np.cov(data[:,1], ddof=0), np.cov(sp[:,2], ddof=0))

In [ ]:
cov_mat = np.cov(data.T, ddof=0)
print('Kovarianzmatrix:\n',cov_mat)

In [ ]:
cor_mat = np.corrcoef(data.T)
print('Korrelationsmatrix:\n',cor_mat)